!!!
%html
  %head
    %title stuff i need to get rid of.
    %link{:href => "/css/application.css", :rel => "stylesheet", :type => "text/css"}/
  %body
    #contents
      %h2 stuff
      :textile
        #{File.read './stuff.textile'}
